.navbar {
  position: fixed;
  background-color: white;
  transition: top 0.3s;
}

@font-face {
  font-family: 'LovelyFont';
  src: url('../fonts/lovely.ttf') format('truetype');
}

.font{
  font-family: 'LovelyFont';
}

.leafs {
  position: fixed;
  animation: leafs linear infinite;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  will-change: transform, top;
}

@keyframes leafs {
  0% {
    background-size: contain;
    top: 0;
    transform: rotate(0deg) translateX(0);
    filter: hue-rotate(0deg) contrast(1);
  }

  20% {
    filter: hue-rotate(60deg);
  }

  50% {
    transform: rotate(180deg) translateX(-50px);
  }

  100% {
    top: calc(100vh + 50px);
    /* Termina fuera de la vista */
    transform: rotate(360deg) translateX(50px);
    filter: hue-rotate(0deg) contrast(1);
  }
}

@keyframes rotarLevemente {
  0% {
    transform: translate(-50%, -50%) rotate(2deg); /* Rota desde el inicio */
  }
  50% {
    transform: translate(-50%, -50%) rotate(-2deg); /* Rota ligeramente hacia la izquierda */
  }
  100% {
    transform: translate(-50%, -50%) rotate(2deg); /* Rota ligeramente hacia la derecha */
  }
}
#dateButton,#controlButton {
  position: fixed;
  bottom: 70px; /* Un poco arriba del borde inferior */
  right: -10px; /* Separado del borde derecho */
  background: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: white;
  width: 90px;
  border-radius: 12px;
  padding-right: 50px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
#dateButton{
  bottom: 120px;
}

#dateButton:hover,#controlButton:hover {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.6);
}
.modal-backdrop.show {
  backdrop-filter: blur(20px); /* Filtro de desenfoque */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

#frase {
  
  font-size: 20px;
  padding: 10px;
  width: 300px;
  min-height: 200px;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size:1rem;
}
.boton {
  padding: 7vw;
  background-color: transparent;
  background-image: url("../img/sello.png");
  background-size: contain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -20px;
  animation: agrandarReducir 2s ease-in-out infinite; /* Llama a la animación */
}
.sobre {
  background-image: url("../img/sobre.jpg");
  position: absolute;  /* Usamos absolute para posicionar respecto a la carta */
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta la imagen de fondo sin distorsionar */
  background-position: center; /* Centra la imagen en el contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw; /* 80% del ancho de la pantalla */
  height: 60vh; /* La altura se ajusta automáticamente según la imagen */
  max-height: 80vh; /* Limita la altura al 80% de la altura de la ventana */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrar perfectamente */
  transform-origin: center;
  animation: rotarLevemente 1.5s ease-in-out infinite;
}
@keyframes agrandarReducir {
  0% {
    transform: scale(1); /* Estado inicial, tamaño normal */
  }
  50% {
    transform: scale(1.1); /* Agranda ligeramente al 110% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}

@media (max-width: 375px) { 
  #controlButton {
    bottom: 20px;
  }
  #dateButton{
    bottom: 70px;
  }
}
@media (min-width: 690px) { 
  .boton{
    padding: 0px;
    padding: 7vh;
    margin-top: -36px;
  }
}
@media (max-width: 320px) { 
  .boton{
    padding: 9vw;
    margin-top: -12px;
  }
}