.bg-Header{
  background-image: url("https://cdn.pixabay.com/photo/2023/03/13/23/27/cherry-blossoms-7850989_1280.jpg");
}  
leafs {
  position: absolute;
  top: -10px;
  animation: leafs linear infinite;
  z-index: 10;
  position: fixed;
}

@keyframes leafs {
  0% {
    background-image: url(../img/petalo1.png);
    background-size: cover;
    top: -10px;
    transform: rotate(0deg) translateX(100px);

    filter: hue-rotate(0deg) contrast(1);
  }
  20% {
    filter: hue-rotate(60deg);
  }
  50% {
    background-image: url(../img/petalo1.png);
    background-size: cover;
    transform: rotate(180deg) translateX(-100px);
  }
  100% {
    background-image: url(../img/petalo1.png);
    background-size: cover;
    top: calc(100vh + 50px);
    transform: rotate(360deg) translateX(200px);
    filter: hue-rotate(0deg) contrast(1);
  }
}
.navbar {
position: fixed;
  background-color: white;
  transition: top 0.3s;
}